// -*- mode: closure-template-html -*-
// colorize.tmpl
//
// This file is part of the restas-colorize library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace restas.colorize.view}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Show main menu
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template withMainMenu}
    <ul class="colorize-top-menu">
        <li>
            <a href="{$hrefAll}">Все записи</a>
        </li>

        <li>
            <a href="{$hrefCreate}">Создать</a>
        </li>
    </ul>

    {$body |noAutoescape}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Show paste info
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template show-paste-info}
    <div class="info">
        Автор: <strong>{$author}</strong> - {$date}
    </div>
{/template}
    

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Show list pastes
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template list-pastes}
    <div class="colorize-list-nav" >
        {if $hrefAfter}<a href="{$hrefAfter}">« Позже</a>{/if}
        {$first} - {min($first + length($pastes) - 1, $totalCount)} 
        из {$totalCount}  
        {if $hrefBefore}<a href="{$hrefBefore}">Раньше »</a>{/if}
    </div>

    {foreach $paste in $pastes}
        <div class="paste">
            <a href="{$paste.href}">{$paste.title != '' ? $paste.title : '*notitle*'}</a>
            {call show-paste-info data="$paste" /}
        </div>
    {/foreach}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Show one paste
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template view-paste}
    <div class="paste-detail">
        <strong>{$title}</strong>
        {call show-paste-info data="all" /}
        <div class="code">
            {$code |noAutoescape}
        </div>
    </div>
{/template}    
    
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Create paste form
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template create-paste}
    <form method="post">
        <textarea rows="30" name="code" cols="80" style="width: 100%">{$code}</textarea>
        <table style="text-align: left">
            <tbody>
                {if $preview and $author}
                    <tr>
                        <th>Описание:</th>
                        <td>
                            <input size="60" name="title" type="text" {if $title}value="{$title}"{/if}/>
                        </td>
                    </tr>
                {/if}
                    
                <tr>
                    <th>Форматировать как:</th>
                    <td>
                        <select name="lang" >
                            {foreach $l in $langs}
                                <option {if $l.id == $lang}selected{/if} value="{$l.id}">{$l.title}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <input type="submit" value="Форматировать" name="preview" />
        {if $preview and $author}
            <input type="submit" value="Сохранить" name="save" />
        {/if}

        {if $preview}
            <h3>Предварительный просмотр</h3>
            <div class="code">
                {$preview |noAutoescape}
            </div>
        {/if}
    </form>    
{/template}

{template preview-paste}
    {call create-paste data="all" /}
{/template}
